@import "./../base/variables";
@import "./../base/reset";

.charts {
	background-color: $color-white;
	padding: 20px;
	margin-bottom: 25px;

	&-header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;

		&-title {
			font-size: 25px;
			color: $color-title;
			font-weight: $font-bold;
		}

		.btn {
			border-radius: 24px;
			font-size: 11px;
			font-weight: $font-normal;

			&-secondary {
				background-color: $color-btn;
				color: $color-title;
			}

			.active {
				color: $inner-header;
				margin-right: 10px;
			}
		}
	}
}
