.main {
	&-layout {
		margin-top: 70px;
		margin-left: auto;
		transition: 0.5s;
		padding: 25px 0;
		background-color: $color-bg;
		min-height: 100vh;
		width: calc(100% - 50px);
	}

	&-title {
		font-weight: $font-normal;
		font-size: 40px;
		color: $inner-header;
	}
}

