@import "./../base/variables";
@import "./../base/reset";

.header {
	position: fixed;
	top: 0;
	right: 0;
	width: calc(100% - 50px);
	height: 70px;
	background-color: $color-white;
	z-index: 9;
	border: 1px solid rgba(132, 146, 175, 0.3);
	transition: 0.5s;

	&.active {
		width: calc(100% - 200px);

		@media (max-width: 424px) {
			.header-main {
				opacity: 0;
			}
		}
	}

	.navbar {
		height: 70px;
		flex-wrap: nowrap;
	}

	&-main {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		transition: .2s;
		opacity: 1;

		.btn {
			padding: 5px 20px;
			border-radius: 24px;
			font-weight: $font-normal;
			font-size: 12px;
			letter-spacing: 0.24px;
			margin-right: 25px;
			vertical-align: baseline;

			@media (max-width: 510px) {
				display: none;
			}

			&-primary {
				color: $color-white !important;
				background-color: $inner-secondary;
				border-color: $inner-secondary;
				transition: 0.3s;
			}

			.fa-plus {
				margin-right: 5px;
				color: $color-border;
			}
		}

		&-btn {
			border-width: 0;
			padding: 0;
			background: transparent;
			margin-right: 15px;
			cursor: pointer;

			.fa {
				vertical-align: middle;
				font-size: 20px;
				color: $inner-header;
			}
		}

		.notification {
			position: relative;

			.badge {
				font-size: 55%;
				position: absolute;
				right: -5px;
				border-radius: 100%;

				&-light {
					color: $color-white;
					background-color: $inner-secondary;
				}
			}
		}

		.dropdown {
			margin-left: 5px;

			.avatar-img {
				vertical-align: middle;
				border-radius: 100%;
			}
		}
	}
}

.menu {
	cursor: pointer;
	width: 45px;
	height: 21px;
	position: relative;

	@media (min-width: 765px) {
		margin-bottom: 2px;
	}

	&-ico {
		width: 20px;
		height: 3px;
		background-color: $inner-header;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&:before,
		&:after {
			content: "";
			position: absolute;
			width: 20px;
			height: 3px;
			background-color: $inner-header;
		}

		&:before {
			top: -6px;
		}

		&:after {
			top: 6px;
		}
	}

	&.hvr-icon-forward:before {
		margin-top: -1px;
		color: $inner-header;
		content: "\f0da";
		right: 0;
		padding-right: 3px;
	}
}

.hvr-icon-forward {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	padding-right: 2.2em;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
}
.hvr-icon-forward:before {
	content: "\f105";
	position: absolute;
	right: 1em;
	padding: 0 1px;
	font-family: FontAwesome;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-icon-forward:hover:before,
.hvr-icon-forward:focus:before,
.hvr-icon-forward:active:before {
	-webkit-transform: translateX(4px);
	transform: translateX(4px);
}

.hvr-icon-back {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	padding-left: 2.2em;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
}
.hvr-icon-back:before {
	color: $inner-header;
	margin-top: -1px;
	color: $inner-header;
	padding-left: 3px;
	content: "\f0d9";
	position: absolute;
	left: 0;
	height: 100%;
	font-family: FontAwesome;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-icon-back:hover:before,
.hvr-icon-back:focus:before,
.hvr-icon-back:active:before {
	-webkit-transform: translateX(-4px);
	transform: translateX(-4px);
}

@-webkit-keyframes hvr-icon-hang {
	0% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
	50% {
		-webkit-transform: translateY(2px);
		transform: translateY(2px);
	}
	100% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
}
@keyframes hvr-icon-hang {
	0% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
	50% {
		-webkit-transform: translateY(2px);
		transform: translateY(2px);
	}
	100% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
}
@-webkit-keyframes hvr-icon-hang-sink {
	100% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
}
@keyframes hvr-icon-hang-sink {
	100% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
}
.hvr-icon-hang {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	padding-right: 15px;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvr-icon-hang:before {
	content: "\f0d7";
	position: absolute;
	margin-top: 6px;
	right: 0;
	padding: 0 1px;
	font-family: FontAwesome;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.hvr-icon-hang:hover:before,
.hvr-icon-hang:focus:before,
.hvr-icon-hang:active:before {
	-webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
	animation-name: hvr-icon-hang-sink, hvr-icon-hang;
	-webkit-animation-duration: 0.3s, 1.5s;
	animation-duration: 0.3s, 1.5s;
	-webkit-animation-delay: 0s, 0.3s;
	animation-delay: 0s, 0.3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
}
