.sidebar {
	background-color: $inner-header;
	height: 100%; 
	position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    width: 200px;
    overflow-x: hidden;

    &-nav {
		list-style-type: none;

		&-item {
			padding: 10px 0 10px 0;
		}
    }

    &-link {
    	color: $color-white;
		font-weight: $font-normal;
		font-size: 14px;
		margin-left: 4px;
    }

    .inner-header-logo {
    	font-size: 15px;
    	text-align: center;
    	margin-left: 20px;
    }

    .fa {
    	color: $inner-secondary;
    	vertical-align: middle;
    }
}