.sidebar {
	background-color: $inner-header;
	height: 100vh;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	transition: 0.5s;
	width: 50px;
	overflow-x: hidden;

	&.opened {
		width: 200px;

		.brand {
			&-logo {
				margin-left: 25px;

				span {
					visibility: visible;
					opacity: 1;
				}
			}
		}

		.sidebar-nav-link {
			padding: 15px 0 15px 25px;

			span {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&-nav {
		&-item {
			border-top: 2px solid $color-border;

			&:last-child {
				border-bottom: 2px solid $color-border;
			}
		}

		&-link {
			padding: 15px 0 15px 10px;
			display: block;
			color: $color-white;
			font-weight: $font-normal;
			font-size: 15px;
			border-left: 5px solid $inner-header;
			transition: all 0.2s;
			white-space: nowrap;
			overflow: hidden;

			span {
				transition: all 0.5s;
				visibility: hidden;
				opacity: 0;
				height: 0;
			}

			&.active {
				background-color: $color-active;
				border-left: 5px solid $inner-secondary;

				&:hover {
					background-color: $color-active;
					border-left: 5px solid $inner-secondary;
				}
			}

			&:hover {
				color: $color-white;
				background-color: $color-nav-hover;
				border-left: 5px solid $color-nav-hover;
			}
		}
	}

	.brand {
		margin-top: 16px;
		margin-bottom: 20px;

		&-logo {
			margin-left: 10px;
			white-space: nowrap;
			overflow: hidden;
			transition: all 0.5s;

			span {
				transition: all 0.5s;
				visibility: hidden;
				opacity: 0;
				height: 0;
			}
		}
	}

	.fa {
		color: $inner-secondary;
		margin-right: 5px;
	}
}

.header {
	position: fixed;
	top: 0;
	right: 0;
	width: calc(100% - 50px);
	height: 70px;
	background-color: $color-white;
	z-index: 9;
	border: 1px solid rgba(132, 146, 175, 0.3);
	transition: 0.5s;

	.navbar {
		height: 70px;
	}

	&-main {
		display: flex;
		align-items: center;

		.btn {
			padding: 5px 20px;
			border-radius: 24px;
			font-weight: $font-normal;
			font-size: 12px;
			letter-spacing: 0.24px;
			margin-right: 25px;
			vertical-align: baseline;

			@media (max-width: 510px) {
				display: none;
			}

			&-primary {
				color: $color-white !important;
				background-color: $inner-secondary;
				border-color: $inner-secondary;
				transition: 0.3s;
			}

			.fa-plus {
				margin-right: 5px;
				color: $color-border;
			}
		}

		&-btn {
			border-width: 0;
			padding: 0;
			background: transparent;
			margin-right: 15px;
			cursor: pointer;

			.fa {
				vertical-align: middle;
				font-size: 20px;
				color: $inner-header;
			}
		}

		.notification {
			position: relative;

			.badge {
				font-size: 55%;
				position: absolute;
				right: -5px;
				border-radius: 100%;

				&-light {
					color: $color-white;
					background-color: $inner-secondary;
				}
			}
		}

		.dropdown {
			margin-left: 5px;

			.avatar-img {
				vertical-align: middle;
				border-radius: 100%;
			}
		}
	}
}

.menu {
	cursor: pointer;
	width: 45px;
	height: 21px;
	position: relative;

	@media (min-width: 765px) {
		margin-bottom: 2px;
	}

	&-ico {
		width: 20px;
		height: 3px;
		background-color: $inner-header;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&:before,
		&:after {
			content: "";
			position: absolute;
			width: 20px;
			height: 3px;
			background-color: $inner-header;
		}

		&:before {
			top: -6px;
		}

		&:after {
			top: 6px;
		}
	}

	&.hvr-icon-forward:before {
		margin-top: -1px;
		color: $inner-header;
		content: "\f0da";
		right: 0;
		padding-right: 3px;
	}
}
