// colors
$color-border: #dadee7;
$color-description: #8492af;
$color-secondary: #0e1a35;
$color-btn: #5584ff;

.calendar-event {
	background-color: transparent;
	border: none;
	padding: 0;
	padding-left: 3px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: -webkit-fill-available;
	text-align: left;
	cursor: pointer;

	&:focus {
		box-shadow: none;
		outline: none;
		border: none;
	}
}

.popover {
	&-body {
		padding: 0;
	}

	&-item {
		padding: 20px;
		border-bottom: 1px solid $color-border;
		font-size: 14px;
		font-weight: 500;
		color: $color-secondary;

		&:last-child {
			border: none;
			text-align: center;
		}

		&-title {
			color: $color-secondary;
			font-weight: 500;
			font-size: 20px;
			line-height: 20px;
		}

		&-secondary {
			font-weight: 400;
			font-size: 12px;
			color: $color-description;
		}

		&-list {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 5px;
		}

		.btn {
			font-weight: 500;

			&-lg {
				padding: 0.5rem 1.5rem;
				border-radius: 24px;
				font-size: 17px;
			}

			&-primary {
				background-color: $color-btn;
			}
		}
	}

	&-description {
		color: $color-description;
		margin-right: 20px;
		text-transform: uppercase;
		letter-spacing: 0.14px;
	}

	&-img {
		border-radius: 50%;
		margin-right: 15px;
	}
}
