$color-secondary: #8492af;
$color-main: #0e1a35;

.dropdown {
	display: inline-block;

	&.dropdown-main {
		.btn {
			width: 140px;
			border-radius: 24px;
		}
	}

	&.show .btn {
		color: $color-secondary;
	}

	.btn {
		font-size: 11px;
		font-weight: 400;
		text-align: left;

		&-secondary {
			background-color: transparent;
			color: $color-secondary;
		}

		.active {
			color: $color-main;
			font-weight: 700;
			margin-right: 10px;
		}
	}

	&-toggle:after {
		vertical-align: middle;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
	}
}
