// colors

$inner-header: #0e1a35;
$color-inner: #f6f7fa;
$color-white: #fff;
$inner-secondary: #5584ff;

// font-weights

$font-normal: 500;

.signup-section {
	min-height: 100vh;
	background: url("./images/bg-login.png") no-repeat center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner {
	width: 600px;
	max-width: 100%;
	max-height: 400px;
	background-color: $color-inner;
	box-shadow: 0 0 139px rgba(147, 161, 185, 0.59);

	&-header {
		background-color: $inner-header;
		height: 75px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.brand {
			margin-left: 30px;

			&-logo {
				span {
					@media (max-width: 374px) {
						display: none;
					}
				}
			}
		}
	}

	.nav {
		&-tabs {
			border: none;
			height: 75px;
		}

		&-item {
			display: flex;
			width: 90px;
			margin-bottom: 0 !important;
		}

		&-link {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			color: $color-white !important;
			font-size: 12px;
			font-weight: 500;

			&:hover {
				border: none;
				cursor: pointer;
			}

			&.active {
				margin-top: 5px !important;
				background-color: $inner-header !important;
				border: none !important;
				border-bottom: 5px solid $inner-secondary !important;
			}
		}
	}
}

.brand {
	&-logo {
		color: $color-white;
		font-weight: $font-normal;
		font-size: 25px;

		img {
			vertical-align: middle;
		}

		span {
			margin-left: 7px;
			vertical-align: middle;
		}

		&:hover {
			color: $color-white;
		}
	}
}
