// colors
$color-white: #fff;
$color-active: #00bf1b;
$color-secondary: #8492af;

.table {
	td {
		vertical-align: middle;
	}

	&-item {
		background-color: $color-white;
	}

	&-name {
		display: flex;
		align-items: center;

		&-img {
			border-radius: 100%;
			margin-right: 15px;
		}
	}

	&-activity {
		font-weight: 500;
		font-size: 15px;
		color: $color-secondary;

		&.active {
			color: $color-active;
		}
	}
}
