// colors

$color-border: #0d172e;
$inner-header: #0e1a35;
$color-white: #fff;
$inner-secondary: #5584ff;
$color-nav-hover: #25396e;
$color-active: #122143;

// font-weights

$font-normal: 500;

.sidebar {
	background-color: $inner-header;
	height: 100vh;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	transition: 0.5s;
	width: 50px;
	overflow-x: hidden;

	&.opened {
		width: 200px;

		.brand {
			&-logo {
				margin-left: 25px;

				span {
					visibility: visible;
					opacity: 1;
				}
			}
		}

		.sidebar-nav-link {
			padding: 15px 0 15px 25px;

			span {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&-nav {
		&-item {
			border-top: 2px solid $color-border;

			&:last-child {
				border-bottom: 2px solid $color-border;
			}
		}

		&-link {
			padding: 15px 0 15px 10px;
			display: block;
			color: $color-white;
			font-weight: $font-normal;
			font-size: 15px;
			border-left: 5px solid $inner-header;
			transition: all 0.2s;
			white-space: nowrap;
			overflow: hidden;

			span {
				transition: all 0.5s;
				visibility: hidden;
				opacity: 0;
				height: 0;
			}

			&.active {
				background-color: $color-active;
				border-left: 5px solid $inner-secondary;

				&:hover {
					background-color: $color-active;
					border-left: 5px solid $inner-secondary;
				}
			}

			&:hover {
				color: $color-white;
				background-color: $color-nav-hover;
				border-left: 5px solid $color-nav-hover;
			}
		}
	}

	.brand {
		margin-top: 19px;
		margin-bottom: 17px;

		&-logo {
			margin-left: 10px;
			white-space: nowrap;
			overflow: hidden;
			transition: all 0.5s;

			span {
				transition: all 0.5s;
				visibility: hidden;
				opacity: 0;
				height: 0;
			}
		}
	}

	.fa {
		color: $inner-secondary;
		margin-right: 5px;
	}
}

.brand {
	&-logo {
		color: $color-white;
		font-weight: $font-normal;
		font-size: 25px;

		img {
			vertical-align: middle;
		}

		span {
			margin-left: 7px;
			vertical-align: middle;
		}

		&:hover {
			color: $color-white;
		}
	}
}
