// colors

$color-white: #fff;
$color-title: #8492af;
$color-btn: #ff3a76;
$inner-header: #0e1a35;

// font-weights

$font-normal: 500;
$font-bold: 700;

.charts {
	background-color: $color-white;
	padding: 20px;
	margin-bottom: 25px;

	&-header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;

		&-title {
			font-size: 25px;
			color: $color-title;
			font-weight: $font-bold;
		}
	}
}
