@import "~bootstrap/dist/css/bootstrap";
@import "~font-awesome/css/font-awesome.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");

$font-text: "Roboto", sans-serif;

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: $font-text;
}

h1 {
	margin: 0;
	font-size: 25px;
}

img {
	vertical-align: sub;
}

a:hover {
	color: inherit;
	text-decoration: none;
}
ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

p {
	margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
