.hvr-icon-back {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	padding-left: 2.2em;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
}
.hvr-icon-back:before {
	color: $inner-header;
	margin-top: -1px;
	color: $inner-header;
	padding-left: 3px;
	content: "\f0d9";
	position: absolute;
	left: 0;
	height: 100%;
	font-family: FontAwesome;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-icon-back:hover:before,
.hvr-icon-back:focus:before,
.hvr-icon-back:active:before {
	-webkit-transform: translateX(-4px);
	transform: translateX(-4px);
}

@-webkit-keyframes hvr-icon-hang {
	0% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
	50% {
		-webkit-transform: translateY(2px);
		transform: translateY(2px);
	}
	100% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
}
@keyframes hvr-icon-hang {
	0% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
	50% {
		-webkit-transform: translateY(2px);
		transform: translateY(2px);
	}
	100% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
}
@-webkit-keyframes hvr-icon-hang-sink {
	100% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
}
@keyframes hvr-icon-hang-sink {
	100% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
}
.hvr-icon-hang {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	padding-right: 15px;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvr-icon-hang:before {
	content: "\f0d7";
	position: absolute;
	margin-top: 6px;
	right: 0;
	padding: 0 1px;
	font-family: FontAwesome;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.hvr-icon-hang:hover:before,
.hvr-icon-hang:focus:before,
.hvr-icon-hang:active:before {
	-webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
	animation-name: hvr-icon-hang-sink, hvr-icon-hang;
	-webkit-animation-duration: 0.3s, 1.5s;
	animation-duration: 0.3s, 1.5s;
	-webkit-animation-delay: 0s, 0.3s;
	animation-delay: 0s, 0.3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
}

.hvr-icon-forward {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	padding-right: 2.2em;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
}
.hvr-icon-forward:before {
	content: "\f105";
	position: absolute;
	right: 1em;
	padding: 0 1px;
	font-family: FontAwesome;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-icon-forward:hover:before,
.hvr-icon-forward:focus:before,
.hvr-icon-forward:active:before {
	-webkit-transform: translateX(4px);
	transform: translateX(4px);
}
