// colors

$color-white:		#fff;
$color-inner:		#f6f7fa; 
$inner-header:		#0e1a35;
$inner-secondary:	#5584ff;

// fonts

$font-text:			'Roboto', sans-serif;

// font-weights

$font-light:		300;
$font-normal:		500;
$font-bold:			700;