@import "~bootstrap/dist/css/bootstrap";
@import "~font-awesome/css/font-awesome.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");

// colors

$color-white: #fff;
$color-black: #000;
$color-bg: #f6f7fa;
$color-inner: #f6f7fa;
$color-title: #8492af;
$color-title-secondary: #5384ff;
$inner-header: #0e1a35;
$inner-secondary: #5584ff;
$color-input: #d4d8e3;
$color-border: #0d172e;
$color-active: #122143;
$color-nav-hover: #25396e;
$color-btn: #ff3a76;
$color-badge: #f83c7b;
$color-content: #dadee7;
$color-messages-active: #f4f5f8;

// fonts

$font-text: "Roboto", sans-serif;

// font-weights

$font-light: 300;
$font-normal: 500;
$font-bold: 700;
