// colors

$color-white:				#fff;
$color-inner:				#f6f7fa; 
$color-title:				#8492af;
$color-title-secondary:		#5384ff;
$inner-header:				#0e1a35;
$inner-secondary:			#5584ff;
$color-input:				#d4d8e3;

// fonts

$font-text:					'Roboto', sans-serif;

// font-weights

$font-light:				300;
$font-normal:				500;
$font-bold:					700;